extends ../layouts/default.pug

block variables
  - var pageTitle = 'Ветки проекта'
  - var pageDescription = 'Список веток'
  - var pageKeywords = 'Вёрстка'
  - var isStructureVisible = true

block content
  include ../blocks/subheader.pug
  include ../blocks/source-branches.pug
