extends ../layouts/default.pug

block variables
  - var pageTitle = 'ya.make'
  - var pageDescription = 'Содержимое файла ya.make'
  - var pageKeywords = 'Вёрстка'
  - var isFooterHidden = true
  - var isBlobTableVisible = true
  - var isStructureVisible = false

block content
  include ../blocks/subheader.pug
  include ../blocks/source.pug
  include ../blocks/blob-viewer.pug
