extends ../layouts/default.pug

block variables
  - var pageTitle = 'DEVTOOLS-4599: Add option to add extra whitespace between project'
  - var pageDescription = 'Изменения в коммите'
  - var pageKeywords = 'Вёрстка'
  - var isFooterHidden = true
  - var isBlobTableVisible = true
  - var isStructureVisible = false

block content
  include ../blocks/diff-subheader.pug
  include ../blocks/source.pug
  include ../blocks/diff-blob.pug
