extends ../layouts/default.pug

block variables
  - var pageTitle = 'Структура проекта'
  - var pageDescription = 'Структура проекта'
  - var pageKeywords = 'Вёрстка'
  - var isStructureVisible = true

block content
  include ../blocks/subheader.pug
  include ../blocks/source-folders.pug
