extends ../layouts/default.pug

block variables
  - var pageTitle = 'История изменений'
  - var pageDescription = 'История изменений'
  - var pageKeywords = 'Вёрстка'
  - var isFooterHidden = true
  - var isStructureVisible = false
  - var isHistoryVisible = true

block content
  include ../blocks/subheader.pug
  include ../blocks/source.pug
  include ../blocks/history.pug
