extends ../layouts/default.pug

block variables
  - var pageTitle = 'Главная'
  - var pageDescription = 'Главная страница'
  - var pageKeywords = 'Вёрстка'
  - var isStructureVisible = true

block content
  include ../blocks/subheader.pug
  include ../blocks/source.pug
