extends ../layouts/default.pug

block variables
  - var pageTitle = 'arcadia'
  - var pageDescription = 'arcadia'
  - var pageKeywords = 'Вёрстка'
  - var isFooterHidden = true
  - var isStructureVisible = true

block content
  include ../blocks/subheader.pug
  include ../blocks/source.pug
  include ../blocks/blob-viewer.pug
