header.page-header(role='banner')
  .page-header__container.container
    a(href='/').page-header__home
      img(src='img/blocks/logo.svg' alt='Yandex Arcanum' width='118' height='20').page-header__img
    .page-header__actions
      button(type='button').page-header__tab.tab.btn#js-repository-select-btn
        span.tab__name.tab__name_current.text.text_size_l.tab__name_space_m.page-header__tab-name Repository Arc
        svg(role='img' width='10' height='8').tab__icon.tab__icon_right
          use(xlink:href='img/icons/sprite.svg#icon-dropdown')
      include ../blocks/popup.pug


