if !isFooterHidden
  footer.page-footer(role='contentinfo')
    .page-footer__container.container
      .page-footer__col.page-footer__col_left
        p.page-footer__text.text.text_color_grey.text_size_s Trade secrets of Yan LLC 16., Lev Tolstoy Str., Moscow, Russia, 119021
      .page-footer__col.page-footer__col_right
        span.page-footer__version.text.text_color_grey.text_size_s UI: 1.12.7
        span.page-footer__copyright.text.text_color_grey.text_size_s © 2007 - 2019 #[a(href='https://yandex.ru' target='_blank' rel='noopener noreferrer nofollow').page-footer__link.link.link_color_blue Yandex]
