footer.page-footer(role='contentinfo')
  .page-footer__container.container
    p.page-footer__text.text.text_color_grey Trade secrets of Yan LLC 16., Lev Tolstoy Str., Moscow, Russia, 119021
    span.page-footer__version.text.text_color_grey UI: 1.12.7
    span.page-footer__copyright.text.text_color_grey © 2007 - 2018
      a(href='https://yandex.ru' target='_blank' rel='noopener noreferrer nofollow').page-footer__link.link.link_color_blue Yandex
