.source

  +e('tabs-list')
    display: flex
    overflow: auto
    -webkit-overflow-scrolling: touch
    overscroll-behavior-x: contain

  +e('table')
    border-top: 1px solid #e5e5e5
    display: flex
    flex-direction: column

    tbody
      display: inherit
      flex-direction: inherit

  +e('tab-item')
    &:not(:last-child)
      margin-right: 32px

  +e('table-row')
    position: relative

    &:first-child
      display: none

    display: flex
    flex-wrap: wrap
    padding: 12px 30px 12px 0

    &:not(:last-child)
      border-bottom: 1px solid #e5e5e5

  +e('table-data')
    padding: 0
    display: flex
    align-items: baseline

    &:first-child
      width: 100%
      order: 1

    &:nth-child(2)
      order: 3
      margin-right: 8px

    &:nth-child(3)
      order: 2
      width: 100%
      margin-bottom: 10px
      margin-top: 10px

    &:nth-child(4)
      order: 4

      &::before
        content: 'by'
        padding-right: 4px
        font-size: 14px

      &::after
        content: ','

    &:nth-child(5)
      order: 5

    &:nth-child(6)
      position: absolute
      top: 0
      height: 100%
      width: 60px
      right: 0

      .source__table-link
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: flex-end


  +e('table-link')
    display: inline-flex
    align-items: center

  +e('table-link-icon')
    margin-right: 8px
