.source
  +e('tabs-list')
    display: flex
    overflow: auto
    -webkit-overflow-scrolling: touch
    overscroll-behavior-x: contain
    border-bottom: 1px solid var(--color-grey-3)

  +e('table')
    border-collapse: collapse
    border-spacing: 0
    display: flex
    flex-direction: column

    +media(var(--tablet-media))
      display: table
      width: 100%

  +e('table-body')
    display: inherit
    flex-direction: inherit

    +media(var(--tablet-media))
      display: table-row-group

  +e('tab-item')
    &:not(:last-child)
      margin-right: 32px

  +e('table-row')
    box-sizing: border-box
    width: 100%
    display: flex
    flex-wrap: wrap
    padding: 12px 30px 12px 0
    position: relative

    +media(var(--tablet-media))
      display: table-row
      padding: 0

    +media(var(--desktop-media))
      &:not(.source__table-row_heading):hover
        background-color: var(--color-grey-1)

    &:not(:last-child)
      border-bottom: 1px solid var(--color-grey-3)

    +m('mobile-hidden')
      display: none

      +media(var(--tablet-media))
        display: table-row

    +m('heading')
      +media(var(--tablet-media))
        padding-bottom: 8px
        padding-top: 16px

  +e('table-data')
    padding: 0
    display: flex
    align-items: baseline

    +m('source')
      width: 100%
      order: 1

    +m('commit-hash')
      order: 3
      margin-right: 8px

    +m('commit-msg')
      order: 2
      width: 100%
      margin-bottom: 10px
      margin-top: 10px

    +m('commiter')
      order: 4

    +m('date')
      order: 5

    +m('mobile-link')
      position: absolute
      top: 0
      height: 100%
      width: 30px
      right: 0

    +media(var(--tablet-media))
      display: table-cell
      width: auto
      padding-top: 14px
      padding-bottom: 14px

      +m('tablet-text-right')
        text-align: right

      +m('commit-msg')
        margin: 0

      +m('mobile-link')
        display: none

    +media(var(--desktop-media))
      +m('source')
        width: 17.5872093%

      +m('commit-hash')
        width: 18.75%

      +m('commit-msg')
        width: 34.593023255%

      +m('commiter')
        width: 20.348837209%

      +m('date')
        width: 7.558139534%

  +e('table-link')
    display: inline-flex
    align-items: center
    vertical-align: middle

    +m('action-blue')
      &:hover
        color: var(--color-blue)

    +m('full')
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: flex-end

    +m('grey-icon')
      color: var(--color-grey-3)

  +e('table-icon')
    +m('left')
      margin-right: 8px

  +e('files-name')
    width: 100%
    box-sizing: border-box
    max-width: inherit
    +text-overflow()
    display: inline-block
    padding: 12px 24px 12px 24px
    font-size: 18px
    line-height: var(--line-height-l)
    font-weight: 500

    &:hover
      color: var(--color-blue)

    +media(var(--desktop-media))
      padding: 17px 24px 17px 24px

  +e('files-item')
    max-width: 160px
    background-color: var(--color-white)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
    border-radius: var(--border-radius-4)
    position: relative
    overflow: hidden

    &::before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      background-color: var(--color-grey-6)
      height: 3px
      width: 100%

    +m('hot')
      &::before
        background-color: var(--color-purple-2)

    +media(var(--desktop-media))
      max-width: 181px

  +e('files-list')
    margin-top: 10px
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(160px,1fr))
    grid-gap: 8px

    +media(var(--desktop-media))
      margin-top: 22px
      grid-template-columns: repeat(auto-fill, minmax(181px,1fr))
      grid-gap: 18px

  +e('tab')
    text-decoration: none

