+b('subheader')
  padding-bottom: 6px

  +media($desktop-media)
    padding-bottom: 8px

  +e('current')
    padding-top: 10px

    +media($desktop-media)
      padding-top: 12px

  +e('row')
    display: flex
    align-items: baseline

    +m('diff-page')
      flex-direction: column

      +media($desktop-media)
        flex-direction: row
        align-items: center
        justify-content: space-between

    &:not(:last-child)
      margin-bottom: 4px

    +media($desktop-media)
      &:not(:last-child)
        margin-bottom: 10px

  +e('select')
    margin-left: 4px

  +e('actions')
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    order: 1
    margin-bottom: 10px
    flex-shrink: 0

    +media($desktop-media)
      order: 2
      width: auto
      margin-bottom: 0

  +e('title')
    +m('order')
      +m('2')
        order: 2

      +media($desktop-media)
        order: 1

  +e('link')
    display: inline-flex
    align-items: center

    +m('back')
      color: var(--color-grey-7)

      &:hover
        color: var(--color-blue)

      +media($desktop-media)
        display: none

    +m('show-commits')
      padding: 6px 12px
      background-color: var(--color-grey-4)
      border-radius: var(--border-radius-4)

      &:hover
        color: var(--color-white)
        background-color: var(--color-blue)

  +e('icon')
    +m('left')
      margin-right: 6px

  +e('dropdown')
    position: relative

