.text

  +m('size')
    +m('xs')
      font-size: var(--font-size-xs)
      line-height: var(--line-height-xs)

    +m('s')
      font-size: var(--font-size-s)
      line-height: var(--line-height-s)

    +m('m')
      font-size: var(--font-size-m)
      line-height: var(--line-height-m)

    +m('l')
      font-size: var(--font-size-l)
      line-height: var(--line-height-l)

    +m('xl')
      font-size: var(--font-size-xl)
      line-height: var(--line-height-xxl)

      +media($desktop-media)
        font-size: var(--font-size-xxl)

  +m('weight')
    +m('medium')
      font-weight: 500

  +m('color')
    +m('grey-6')
      color: var(--color-grey-6)

    +m('grey-7')
      color: var(--color-grey-7)
