ul.breadcrumbs
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text arcadia
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text trunk
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text arcadia
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text arcadia
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text arcadia
