ul.breadcrumbs
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text.text_size_l arcadia
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text.text_size_l trunk
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text.text_size_l arcadia
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.text.text_size_l arcadia
  li.breadcrumbs__item
    a(href='#').breadcrumbs__link.breadcrumbs__link_current.text.text_size_l arcadia
