ul.breadcrumbs.list.list
  li.breadcrumbs__item.list-item
    a(href='#').breadcrumbs__link.link.text.text_size_l arcadia
  li.breadcrumbs__item.list-item
    a(href='#').breadcrumbs__link.link.text.text_size_l trunk
  li.breadcrumbs__item.list-item
    a(href='#').breadcrumbs__link.link.text.text_size_l arcadia
  li.breadcrumbs__item.list-item
    a(href='#').breadcrumbs__link.link.text.text_size_l arcadia
  li.breadcrumbs__item.list-item
    a(href='#').breadcrumbs__link.link.text.text_size_l arcadia
