.subheader
  .subheader__container.container
    .subheader__heading
      include ../blocks/breadcrumbs.pug
    .subheader__current
      .subheader__row.subheader__row_flex.subheader__row_space-between.subheader__row_diff-page
        h1.subheader__title.subheader__title_order_2.title.text.text_size_xl DEVTOOLS-4599: Add option to add extra whitespace between project
        .subheader__actions
          a(href='#').subheader__link.subheader__link_back
            svg(role='img' width='7' height='13').subheader__icon.icon.subheader__icon_left
              use(xlink:href='img/icons/sprite.svg#icon-arrow-back')
            | Back
          a(href='#').subheader__link.subheader__link_show-commits
            svg(role='img' width='12' height='10').subheader__icon.icon.subheader__icon_left
              use(xlink:href='img/icons/sprite.svg#icon-hamburger')
            | Show files at r4318347
      .subheader__row
        p.subheader__info.text.text_size_l #[a(href='#').subheader__link.link.link_color_blue r3248813] by #[span.subheader__name.name.name_first-letter.name_first-letter_red robot-srch-releaser], 4s ago
