.blob-viewer
  .blob-viewer__container.container
    .blob-viewer__inner
      .blob-viewer__heading
        .blob-viewer__inner-container.blob-viewer__inner-container_flex.blob-viewer__inner-container_flex_column.blob-viewer__inner-container_heading.container.blob-viewer__inner-container_flex_align-baseline
          .blob-viewer__col.blob-viewer__col_left
            strong.blob-viewer__state.blob-viewer__state_m.text.text_weight_medium.text_size_l M
            h2.blob-viewer__title.title.text.text_size_l
              svg(role='img' width='9' height='20').blob-viewer__icon.blob-viewer__icon_left
                use(xlink:href='img/icons/sprite.svg#icon-document')
              |  /trunk/arcadia/devtools/intelij/src/main/java/ru/yandex/devtools/intelij/arc/client/ArcCli.java
          .blob-viewer__col.blob-viewer__col_right.blob-viewer__col_align-right
            strong.blob-viewer__state.blob-viewer__state_add.text.text_weight_medium.text_size_l +100
            strong.blob-viewer__state.blob-viewer__state_delete.text.text_weight_medium.text_size_l -81
            button(type='button').blob-viewer__button.blob-viewer__button_share
              svg(role='img' width='13' height='13').blob-viewer__icon
                use(xlink:href='img/icons/sprite.svg#icon-share')
      .blob-viewer__subheading
        .blob-viewer__inner-container.container.blob-viewer__inner-container_flex.blob-viewer__inner-container_flex_align-center
          p.blob-viewer__stats.text.text_color_grey-6 @@ -270, 160 +270, 1 @@
          .blob-viewer__actions
            button(type='button').blob-viewer__action.blob-viewer__action_show-below.blob-viewer__action_inactive
              svg(role='img' width='8' height='5').blob-viewer__icon.blob-viewer__icon_left
                use(xlink:href='img/icons/sprite.svg#icon-triangle')
              | Below 20 lines
            button(type='button').blob-viewer__action.blob-viewer__action_show-above
              svg(role='img' width='8' height='5').blob-viewer__icon.blob-viewer__icon_left
                use(xlink:href='img/icons/sprite.svg#icon-triangle')
              | Above 20 lines
      .blob-viewer__content.blob-viewer__content_full

        table.blob-viewer__content-table.blob-viewer__content-table_no-margin.blob-viewer__content-table_offset
          tr.blob-viewer__content-table-row.blob-viewer__content-table-row_new
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 1
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 1
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
              span.blob-viewer__content-keyword.blob-viewer__content-keyword_grey #!/usr/bin/env python
          tr.blob-viewer__content-table-row.blob-viewer__content-table-row_new
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 2
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 2
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
              span.blob-viewer__content-keyword.blob-viewer__content-keyword_bold import
              |  os
          tr.blob-viewer__content-table-row.blob-viewer__content-table-row_old
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 3
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 3
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
              span.blob-viewer__content-keyword.blob-viewer__content-keyword_bold import
              |  sys
          tr.blob-viewer__content-table-row.blob-viewer__content-table-row_old
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 4
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 4
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
              span.blob-viewer__content-keyword.blob-viewer__content-keyword_bold import
              |  platform
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 5
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 5
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
              span.blob-viewer__content-keyword.blob-viewer__content-keyword_bold import
              |  json
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 6
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 6
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 7
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 7
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python URLS = [#[a(href='https://proxy.sandbox.yandex-team.ru/453818264' target='_blank' rel='noopener noreferrer nofollow').link.link_color_blue.blob-viewer__content-link "https://proxy.sandbox.yandex-team.ru/453818264"]]
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 8
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 8
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python MD5 = #[span.blob-viewer__content-keyword.blob-viewer__content-keyword_blue '7f5a85f9c28d35c3a76d8cea7af51106']
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 9
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 9
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 10
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 10
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python RETRIES = 5
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 11
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 11
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python HASH_PREFIX = 10
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 12
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 12
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 13
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 13
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python HOME_DIR = os.path.expanduser('~')
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 14
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 14
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 15
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 15
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 16
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 16
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python #[span.blob-viewer__content-keyword.blob-viewer__content-keyword_bold def] #[span.blob-viewer__content-keyword.blob-viewer__content-keyword_bold.blob-viewer__content-keyword_blue create_dirs](path):
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 17
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 17
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python    #[span.blob-viewer__content-keyword.blob-viewer__content-keyword_bold try:]
          tr.blob-viewer__content-table-row
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 18
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_counter 18
            td.blob-viewer__content-table-data.blob-viewer__content-table-data_content.blob-viewer__content-table-data_language_python        os.makedirs(path)
      .blob-viewer__subheading
        .blob-viewer__inner-container.container.blob-viewer__inner-container_flex.blob-viewer__inner-container_flex_align-center
          p.blob-viewer__stats.text.text_color_grey-6 @@ -270, 160 +270, 1 @@
          .blob-viewer__actions
            button(type='button').blob-viewer__action.blob-viewer__action_show-below.blob-viewer__action_inactive
              svg(role='img' width='8' height='5').blob-viewer__icon.blob-viewer__icon_left
                use(xlink:href='img/icons/sprite.svg#icon-triangle')
              | Below 20 lines
            button(type='button').blob-viewer__action.blob-viewer__action_show-above
              svg(role='img' width='8' height='5').blob-viewer__icon.blob-viewer__icon_left
                use(xlink:href='img/icons/sprite.svg#icon-triangle')
              | Above 20 lines
