section.history
  .history__container.container
    ul.history__list
      li.history__item
        h2.history__title.title
          time.history__date.text.text_size_m.text_color_grey-7.text_weight_medium Today
        table.history__table
          tr.history__table-row
            td.history__table-data.history__table-data_icon
              .history__commit-icon
            td.history__table-data.history__table-data_info
              h3.history__subtitle.title.text.text_size_s.text_weight_medium Support new distbuild protocol
              p.history__message.text.text_size_s Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразуменние
              .history__info.text.text_size_s
                a(href='#').history__commit-link.link.link_color_blue s324e8
                span by&nbsp;
                span.name.name_first-letter.name_first-letter_red woodcutter
                span ,
                time.history__time 4s ago
            td.history__table-data.history__table-data_commit.text.text_size_s
              a(href='#').history__commit-link.link.link_color_blue s324e8
            td.history__table-data.history__table-data_source-link
              a(href='#').history__table-link.history__table-link_source
                svg(role='img' width='16' height='15').history__table-icon
                  use(xlink:href='img/icons/sprite.svg#icon-code')
          tr.history__table-row
            td.history__table-data.history__table-data_icon
              .history__commit-icon
            td.history__table-data.history__table-data_info
              h3.history__subtitle.title.text.text_size_s.text_weight_medium Support new distbuild protocol
              p.history__message.text.text_size_s Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразуменние
              .history__info.text.text_size_s
                a(href='#').history__commit-link.link.link_color_blue s324e8
                span by&nbsp;
                span.name.name_first-letter.name_first-letter_red woodcutter
                span ,
                time.history__time 4s ago
            td.history__table-data.history__table-data_commit.text.text_size_s
              a(href='#').history__commit-link.link.link_color_blue s324e8
            td.history__table-data.history__table-data_source-link
              a(href='#').history__table-link.history__table-link_source
                svg(role='img' width='16' height='15').history__table-icon
                  use(xlink:href='img/icons/sprite.svg#icon-code')
      li.history__item
        h2.history__title.title
          time.history__date.text.text_size_m.text_color_grey-7.text_weight_medium Yesterday
        table.history__table
          tr.history__table-row
            td.history__table-data.history__table-data_icon
              .history__commit-icon
            td.history__table-data.history__table-data_info
              h3.history__subtitle.title.text.text_size_s.text_weight_medium Support new distbuild protocol
              p.history__message.text.text_size_s Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразуменние
              .history__info.text.text_size_s
                a(href='#').history__commit-link.link.link_color_blue s324e8
                span by&nbsp;
                span.name.name_first-letter.name_first-letter_red woodcutter
                span ,
                time.history__time 4s ago
            td.history__table-data.history__table-data_commit.text.text_size_s
              a(href='#').history__commit-link.link.link_color_blue s324e8
            td.history__table-data.history__table-data_source-link
              a(href='#').history__table-link.history__table-link_source
                svg(role='img' width='16' height='15').history__table-icon
                  use(xlink:href='img/icons/sprite.svg#icon-code')
          tr.history__table-row
            td.history__table-data.history__table-data_icon
              .history__commit-icon
            td.history__table-data.history__table-data_info
              h3.history__subtitle.title.text.text_size_s.text_weight_medium Support new distbuild protocol
              p.history__message.text.text_size_s Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразуменние
              .history__info.text.text_size_s
                a(href='#').history__commit-link.link.link_color_blue s324e8
                span by&nbsp;
                span.name.name_first-letter.name_first-letter_red woodcutter
                span ,
                time.history__time 4s ago
            td.history__table-data.history__table-data_commit.text.text_size_s
              a(href='#').history__commit-link.link.link_color_blue s324e8
            td.history__table-data.history__table-data_source-link
              a(href='#').history__table-link.history__table-link_source
                svg(role='img' width='16' height='15').history__table-icon
                  use(xlink:href='img/icons/sprite.svg#icon-code')

