.popup
  .popup__inner
    .popup__item.popup__item_current
      a(href='#').popup__name.title users/rudskoy/DEVTOO
      time.popup__date Last commit 1 min ago
    ul.popup__list
      li.popup__item
        a(href='#').popup__name.title users/rudskoy/DEVTOO
        time.popup__date Last commit 1 min ago
      li.popup__item
        a(href='#').popup__name.title users/rudskoy/DEVTOO
        time.popup__date Last commit 1 min ago
      li.popup__item
        a(href='#').popup__name.title users/rudskoy/DEVTOO
        time.popup__date Last commit 1 min ago
