.popup.popup_repository-popup#js-repository-select-popup
  .popup__inner
    ul.popup__list
      li.popup__item
        a(href='#').popup__name.title Arc
      li.popup__item
        a(href='#').popup__name.title My repository
      li.popup__item
        a(href='#').popup__name.title Devtools-team repository
