.popup.popup_repository-popup#js-repository-select-popup
  .popup__inner
    ul.popup__list.list
      li.popup__item.list-item
        a(href='#').popup__name.title.link Arc
      li.popup__item.list-item
        a(href='#').popup__name.title.link My repository
      li.popup__item.list-item
        a(href='#').popup__name.title.link Devtools-team repository
