.popup.popup_branch-popup#js-branch-select-popup
  .popup__inner.popup__inner_branch-select
    .popup__item.popup__item_current
      a(href='#').popup__name.popup__name_white.title.link users/rudskoy/DEVTOO
      time.popup__date.popup__date_white Last commit 1 min ago
    ul.popup__list.list
      li.popup__item.popup__item_paddings.list-item
        a(href='#').popup__name.title.link users/rudskoy/DEVTOO
        time.popup__date Last commit 1 min ago
      li.popup__item.popup__item_paddings.list-item
        a(href='#').popup__name.title.link users/rudskoy/DEVTOO
        time.popup__date Last commit 1 min ago
      li.popup__item.popup__item_paddings.list-item
        a(href='#').popup__name.title.link users/rudskoy/DEVTOO
        time.popup__date Last commit 1 min ago
