section.source
  .source__container.container
    .source__heading
      ul.source__tabs-list
        li.source__tab-item
          button(type='button').source__tab.tab.tab_text_uppercase.tab_color_grey
            span.tab__name.tab__name_current.tab__name_space_s Files
        li.source__tab-item
          button(type='button').source__tab.tab.tab_text_uppercase.tab_color_grey
            span.tab__name.tab__name_space_s Branches
    table.source__table
      tr.source__table-row
        td.source__table-data
          span.text.text_color_grey Name
        td.source__table-data
          span.text.text_color_grey Last Commit
        td.source__table-data
          span.text.text_color_grey Commit message
        td.source__table-data
          span.text.text_color_grey Commiter
        td.source__table-data
          span.text.text_color_grey Updated
      tr.source__table-row.text.text_size_l
        td.source__table-data
          a(href='#').source__table-link.text.text_icon_folder.text_weight_medium
            svg(role='img' width='12' height='9').source__table-link-icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            |  api
        td.source__table-data
          a(href='#').source__table-link.text.link.link_color_blue r3248719
        td.source__table-data
          a(href='#').source__table-text.text [vcs] move http to a
        td.source__table-data
          a(href='#').source__table-link.text.name.name_first-letter.name_first-letter_red
            span.name__name by Alexey Besedin,
            span.name__name.name_name_hidden-mobile ffsdsdf
        td.source__table-data
          time.source__table-time 4s ago
        td.source__table-data
          a(href='#').source__table-link
            svg(role='img' width='10' height='19')
              use(xlink:href='img/icons/sprite.svg#icon-arrow-next')

      tr.source__table-row
        td.source__table-data
          a(href='#').source__table-link.text.text_icon_folder.text_weight_medium
            svg(role='img' width='12' height='9').source__table-link-icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            |  api
        td.source__table-data
          a(href='#').source__table-link.text.link.link_color_blue r3248719
        td.source__table-data
          a(href='#').source__table-text.text [vcs] move http to a
        td.source__table-data
          a(href='#').source__table-link.text.name.name_first-letter-red noxoomo
        td.source__table-data
          time.source__table-time 4s ago
      tr.source__table-row
        td.source__table-data
          a(href='#').source__table-link.text.text_icon_folder.text_weight_medium
            svg(role='img' width='12' height='9').source__table-link-icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            |  api
        td.source__table-data
          a(href='#').source__table-link.text.link.link_color_blue r3248719
        td.source__table-data
          a(href='#').source__table-text.text [vcs] move http to a
        td.source__table-data
          a(href='#').source__table-link.text.name.name_first-letter-red noxoomo
        td.source__table-data
          time.source__table-time 4s ago
      tr.source__table-row
        td.source__table-data
          a(href='#').source__table-link.text.text_icon_folder.text_weight_medium
            svg(role='img' width='12' height='9').source__table-link-icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            |  api
        td.source__table-data
          a(href='#').source__table-link.text.link.link_color_blue r3248719
        td.source__table-data
          a(href='#').source__table-text.text [vcs] move http to a
        td.source__table-data
          a(href='#').source__table-link.text.name.name_first-letter-red noxoomo
        td.source__table-data
          time.source__table-time 4s ago
