section.source
  .source__container.container
    .source__heading
      ul.source__tabs-list
        li.source__tab-item
          button(type='button').source__tab.tab.tab_text_uppercase.tab_color_grey.text.text_size_m
            span.tab__name.tab__name_current.tab__name_space_s Files
        li.source__tab-item
          button(type='button').source__tab.tab.tab_text_uppercase.tab_color_grey.text.text_size_m
            span.tab__name.tab__name_space_s Branches
    table.source__table
      tr.source__table-row.source__table-row_mobile-hidden.source__table-row_heading.text.text_size_l.text_color_grey-6.text_weight_medium
        td.source__table-data
          span Name
        td.source__table-data
          span Last Commit
        td.source__table-data
          span Commit message
        td.source__table-data
          span Commiter
        td.source__table-data.source__table-data_tablet-text-right
          span Updated
      tr.source__table-row.text.text_size_l
        td.source__table-data.source__table-data_source
          a(href='#').source__table-link.source__table-link_action-blue.text.text_icon_folder.text_weight_medium
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | api
        td.source__table-data.source__table-data_commit-hash
          a(href='#').source__table-link.text.link.link_color_blue r3248719
        td.source__table-data.source__table-data_commit-msg
          span.source__table-text.text [vcs] move http to a
        td.source__table-data.source__table-data_commiter
          a(href='#').source__table-link.text
            span.name.name_hidden-tablet by Alexey Besedin,
            span.name.name.name_first-letter.name_first-letter_red.name_hidden-mobile noxoomo
        td.source__table-data.source__table-data_date.source__table-data_tablet-text-right
          time.source__table-time 4s ago
        td.source__table-data.source__table-data_mobile-link
          a(href='#').source__table-link.source__table-link_full.source__table-link_action-blue.source__table-link_grey-icon
            svg(role='img' width='10' height='19').source__table-icon
              use(xlink:href='img/icons/sprite.svg#icon-arrow-next')
      tr.source__table-row.text.text_size_l
        td.source__table-data.source__table-data_source
          a(href='#').source__table-link.source__table-link_action-blue.text.text_icon_folder.text_weight_medium
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | ci
        td.source__table-data.source__table-data_commit-hash
          a(href='#').source__table-link.text.link.link_color_blue r3248719
        td.source__table-data.source__table-data_commit-msg
          a(href='#').source__table-link.text.link.link_color_blue ARCADIA-771:
          span.source__table-text.text [vcs] move http to a
        td.source__table-data.source__table-data_commiter
          a(href='#').source__table-link.text
            span.name.name_hidden-tablet by Alexey Besedin,
            span.name.name.name_first-letter.name_first-letter_red.name_hidden-mobile noxoomo
        td.source__table-data.source__table-data_date.source__table-data_tablet-text-right
          time.source__table-time 4s ago
        td.source__table-data.source__table-data_mobile-link
          a(href='#').source__table-link.source__table-link_full.source__table-link_action-blue.source__table-link_grey-icon
            svg(role='img' width='10' height='19').source__table-icon
              use(xlink:href='img/icons/sprite.svg#icon-arrow-next')
      tr.source__table-row.text.text_size_l
        td.source__table-data.source__table-data_source
          a(href='#').source__table-link.source__table-link_action-blue.text.text_icon_folder.text_weight_medium
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | contrib
        td.source__table-data.source__table-data_commit-hash
          a(href='#').source__table-link.text.link.link_color_blue s53dsv
        td.source__table-data.source__table-data_commit-msg
          span.source__table-text.text [vcs] change owner t
        td.source__table-data.source__table-data_commiter
          a(href='#').source__table-link.text
            span.name.name_hidden-tablet by Alexey Besedin,
            span.name.name.name_first-letter.name_first-letter_red.name_hidden-mobile nalpp
        td.source__table-data.source__table-data_date.source__table-data_tablet-text-right
          time.source__table-time 1 min ago
        td.source__table-data.source__table-data_mobile-link
          a(href='#').source__table-link.source__table-link_full.source__table-link_action-blue.source__table-link_grey-icon
            svg(role='img' width='10' height='19').source__table-icon
              use(xlink:href='img/icons/sprite.svg#icon-arrow-next')


