section.source
  .source__container.container
    .source__heading
      ul.source__tabs-list.list
        li.source__tab-item.list-item
          a(href='inner.html').source__tab.tab.tab_text_uppercase.tab_color_grey.text.text_size_m
            span.tab__name.tab__name_current.tab__name_space_s Files
        li.source__tab-item.list-item
          a(href='branches.html').source__tab.tab.tab_text_uppercase.tab_color_grey.text.text_size_m
            span.tab__name.tab__name_space_s Branches
      ul.source__files-list.list
        li.source__files-item.source__files-item_hot.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | api
        li.source__files-item.source__files-item_hot.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | ci
        li.source__files-item.source__files-item_hot.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | contrib
        li.source__files-item.source__files-item_hot.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | http
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | lib
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | local
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | packages
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | robots
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | server
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | ut
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | arcanum
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | repository
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='12' height='9').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-folder')
            | repositoryrepositoryrepository
        li.source__files-item.list-item
          a(href='#').source__files-name.link
            svg(role='img' width='9' height='13').source__table-icon.source__table-icon_left.icon
              use(xlink:href='img/icons/sprite.svg#icon-document')
            | ya.make
