.subheader
  .subheader__container.container
    .subheader__heading
      include ../blocks/breadcrumbs.pug
    .subheader__current
      .subheader__row
        h2.subheader__title.title arcadia
        button(type='button').subheader__select.select.select_icon_dropdown trunk
          svg(role='img' width='10' height='8').select__icon
            use(xlink:href='img/icons/sprite.svg#icon-dropdown')
      .subheader__row
        p.subheader__info.text Last commit #[a(href='#').subheader__link.link.link_color_blue r3248813] on #[a(href='#').subheader__link.link.link_color_blue #[time.subheader__time 20 Oct 2017, 12:24]] by #[span.subheader__name.name.name_first-letter.name_first-letter_red robot-srch-releaser]
