.button {
    transition: background-color 200ms;

    cursor: pointer;

    color: #212121;
    border: 0;
    border-radius: 4px;
    outline: 0;
}

.buttonSizeSmall {
    padding: 10px;

    font-size: 14px;
}

.buttonSizeMedium {
    padding: 14px;

    font-size: 18px;
}

.buttonSizeLarge {
    padding: 20px;

    font-size: 24px;
}

.buttonThemePrimary {
    background-color: lightsteelblue;
}

.buttonThemePrimary:hover {
    color: white;
    background-color: steelblue;
}

.buttonThemePrimary:active {
    color: white;
    background-color: darkblue;
}

.buttonThemeDefault {
    background-color: lightgray;
}

.buttonThemeDefault:hover {
    color: white;
    background-color: darkgray;
}

.buttonThemeDefault:active {
    color: white;
    background-color: dimgray;
}
