# OS Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
bower_components/

# Dev/Build
/dist/
/build/
*.rar
*.zip
/linters/

# Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
faviconData.json

# Deployment files
firebase-debug.log*
/.firebase/
firebase.json
.firebaserc
.publish

# Unconfigured Editors
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
