.root {
    max-width: 1350px;
    margin: auto;
    padding: 40px;
    padding-top: 40px;

    background-color: white;
    line-height: 1.4;
}

.title {
    color: #212121;

    font-size: 18px;
}

.explanation
{
    padding: 0;

    list-style-type: none;
}

.explanationItem {
    padding-left: 15px;

    border-left: 3px solid lightsteelblue;
}

.explanationItem:not(:last-child) {
    margin-bottom: 20px;
}

.highlightedText {
    color: white;
    background-color: #212121;
}
